:root {
  --primary-color: #0d1117;
  --secondary-color: #161b22;
  --tertiary-color: #1f6feb;
}
body {
  background-color: var(--primary-color);
  color: #d8d8d8;
  font-size: 14px;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  line-height: 1.5;
  /* overflow: hidden; */
}
p {
  font-size: 20px;
}
.title {
  color: #ecebeb;
  font-size: 20px;
}
nav {
  padding: 8px 0;
  background-color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 1;
}
.navlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
#logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 6px;
  color: #efefef;
}
nav a:hover {
  background-color: var(--tertiary-color);
  color: #fff;
}
li {
  list-style: none;
}
.menu {
  font-size: 16px;
  font-weight: 600;
  padding: o 16px;
  display: flex;
  /* color: #efefef; */
  flex-direction: row;
}
.container {
  max-width: 1000px;
  padding: 0 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.sectionTitle {
  text-align: center;
  padding: 10px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.name {
  padding: 15px;
  font-size: 30px;
  font-weight: 700;
}
.container {
  padding: 10px;
  margin: 0 auto;
}

#avtar {
  border-radius: 24px;
  object-fit: cover;
  transform: rotate(8deg);
  box-shadow: rgb(255 215 77 / 60%) -1px -1px 6px,
    rgb(124 127 255 / 60%) 1px 1px 6px;
  background: rgb(23, 15, 30);
  transition: all 0.2s ease 0s;
  width: 256px;
  height: 256px;
}
#avtar:hover {
  transform: rotate(0deg);
  box-shadow: rgb(255 215 77 / 60%) -1px -1px 6px,
    rgb(124 127 255 / 60%) 1px 1px 6px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* border: #1f6feb 1px solid; */
}
.card {
  margin: 10px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  width: 300px;
}
.card:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease 0s;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  /* min-height: 250px; */
}

.card-content p {
  font-size: 15px;
  margin: 0 0 10px;
  /* padding: 0 0 0 8px; */
  height: 50px;
}
.stack-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 0 10px;
}
@media screen and (max-width: 335px) {
  .techstack {
    margin-top: 7px;
  }
}

.techstack {
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid;
  padding: 0 5px;
  margin-left: 7px;
  color: #899096;
}
.stack {
  /* margin: 20px 0 8px 0; */
  margin-top: 20px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}
.card:nth-last-child(1) {
  display: none;
}

.card-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.card-foot a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bolder;
  padding: 10px;
  color: var(--tertiary-color);
  margin-right: 10px;
  border-radius: 10px;
  border: var(--tertiary-color) 1px solid;
}
.card-foot .sourcecode-btn {
  border: #6c757d 1px solid;
  color: #6c757d;
  font-weight: bolder;
}
.card-foot .sourcecode-btn:hover {
  background-color: #6c757d;
  color: #ffff;
}
.card-foot a:hover {
  background-color: var(--tertiary-color);
  color: #ffff;
}
.Skills {
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.skill-name {
  text-decoration: none;
  font-size: 20px;
  width: 10%;
  padding: 20px;
  font-weight: 600;
  color: #bdbcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  flex: 1 1 160px;
  /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */
}
.skill-name:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease 0s;
  color: #ffffff;
}
.tailwind {
  width: 50px;
}
.firebase {
  width: 40px;
}
.next {
  width: 100px;
}
.skill-name i {
  font-size: 40px;
  /* padding: 10px; */
}

@media screen and (max-width: 500px) {
  .skill-name {
    width: 20%;
    flex: 1 1 64px;
  }
}
@media screen and (max-width: 400px) {
  .foot-logo a {
    display: none;
  }
  #avtar {
    width: 200px;
    height: 200px;
  }
}

footer {
  padding: 10px;
  background-color: var(--secondary-color);
  margin-top: 30px;
}
.foot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
.foot-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.foot-logo a {
  text-decoration: none;
  color: #ecebeb;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}
.social-icons {
  display: flex;
}
.social-icons i {
  font-size: 20px;
  padding: 10px;
  color: #a2a2a2;
  margin: 5px;
}
.social-icons i:hover {
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease 0s;
}
